<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
    <title>Rocket Elevators</title>
    <meta name="description" content="Odyssey Project" />
    <meta name="Author" content="David Amyot" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
</head>

<body class="smoothscroll enable-animation pagesubmissionForm">
    <div id="wrapper">
      <div id="header" class="navbar-toggleable-md sticky header-md clearfix">
        <!-- TOP NAV -->
        <header id="topNav">
            <div class="container">

                <!-- Mobile Menu Button -->
                <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Logo -->
                    <%= link_to index_path, class: "logo float-left" do %><%= image_tag("logo.jpeg", alt: "Rocket Elevators Logo")%><% end %>

                <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                    <nav class="nav-main">

                        <ul id="topMain" class="nav nav-pills nav-main nav-onepage">
                        <!-- HOME -->
                            <li class="active"> <%= link_to 'HOME', index_path %> </li>
                        <!-- SERVICES -->
                            <li> <%= link_to 'SERVICES', index_path(anchor: "services") %> </li>
                        <!-- PORTFOLIO -->
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"> PORTFOLIO </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><%= link_to 'Overview', index_path(anchor: "portfolio") %></li>
                                    <li class="dropdown-item divider"></li>
                                    <li class="dropdown-item"><%= link_to 'Residential Projects', residential_path %></li>
                                    <li class="dropdown-item divider"></li>
                                    <li class="dropdown-item"><%= link_to 'Corporate Projects', corporate_path %></li>
                                </ul>
                            </li>
                        <!-- NEWS -->
                            <li> <%= link_to 'NEWS', index_path(anchor: "news") %> </li>
                        <!-- CLIENTS -->
                            <li> <%= link_to 'CLIENTS', index_path(anchor: "clients") %> </li>
                        <!-- SUBMISSION FORM -->
                            <li> <%= link_to 'SUBMISSION', submissionform_path %> </li>
                        <!-- CONTACT -->
                            <li> <%= link_to 'CONTACT', anchor: "contact" %> </li>
                        <!-- CONNECT -->
                            <% if !current_user %>
                                <li><%= link_to "LOGIN", new_user_session_path %></li>
                                <li><%= link_to "SIGN UP", new_user_registration_path %></li>
                            <% elsif current_user.has_role? :admin %>
                                <li><%= link_to "INTERVENTIONS", interventions_path %> </li>
                                <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                                <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                            <% elsif current_user.has_role? :employee %>
                                <li><%= link_to "INTERVENTIONS", interventions_path %> </li>
                                <li><%= link_to "ADMIN PANEL", rails_admin_path %> </li>
                                <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                            <% else %>
                                <li><%= link_to "PROFILE", edit_user_registration_path %></li>
                                <li><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></li>
                            <% end %>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    
    
    <div class="container">
      <div class="heading-title heading-dotted text-center mb-20">
          <h2>Machine Learning</h2>
      </div>
    </div>

        <div class="container">
            <ul class="list-inline">
                <li><a id="#speech-identification1" onclick='displayuploadfile()'>Speech Identification</a></li>
                <li><a id="#speech-recognition1" onclick ='displayshowspeechrecognition()'>Speech Recognition</a></li>
                <li><a id="#speech-transcription1" onclick = 'displayshowspeechtranscription()'>Speech Transcription</a></li>
            </ul>
        </div>


        <div class="container" id="speech-identification2" style="display:none">
            
            <div class="col-md-4">
                <div>        
                    <h4>Speech Identification</h4>
                </div>
                <%= form_for :speech, url: recognition_upload_url, :multipart => true   do |f| %>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="contact:attachment">Audio File Attachment</label>
                                <!-- custom file upload -->
                                <input class="custom-file-upload" type="file" id="file" name="attachment" id="contact:attachment" data-btn-text="Select a File" />

                                <small class="text-muted block">Max file size: 10Mb (WAV/mp3)</small>
                            </div>
                        </div>
                        <%= submit_tag "Upload the file" %>
                    </fieldset>
                <% end %> 
            </div>    
        
        </div>

        <div class="container" id="speech-recognition2" style="display:none">
            
            <div class"row p-0 m-10">
                <div class="col-md-5">
                    <div class="row">
                        <p style=" margin: 15px 0px;" data-url=""> <%= radio_button_tag :recognition, "Conversation-01.wav", false, :onclick => "audioSelected(this)" %> Scenario 1 </p>
                        <audio controls>
                            <source src="/audios/Conversation-01.wav" type="audio/wav">                    
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;" data-url=""> <%= radio_button_tag :recognition, "Conversation-02.wav", false, :onclick => "audioSelected(this)" %> Scenario 2 </p>
                        <audio controls>
                            <source src="/audios/Conversation-02.wav" type="audio/wav">
                        </audio>
                    </div>
                    
                    <div class="row">
                        <p style=" margin: 15px 0px;" data-url=""> <%= radio_button_tag :recognition, "Conversation-03.wav", false, :onclick => "audioSelected(this)" %> Scenario 3 </p>
                        <audio controls>
                            <source src="/audios/Conversation-03.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;" data-url=""> <%= radio_button_tag :recognition, "Conversation-04.wav", false, :onclick => "audioSelected(this)" %> Scenario 4 </p>
                        <audio controls>
                            <source src="/audios/Conversation-04.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;"> <%= radio_button_tag :recognition, "Conversation-05.wav", false, :onclick => "audioSelected(this)" %> Scenario 5 </p>
                        <audio controls>
                            <source src="/audios/Conversation-05.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;"> <%= radio_button_tag :recognition, "Conversation-06.wav", false, :onclick => "audioSelected(this)" %> Scenario 6 </p>
                        <audio controls>
                            <source src="/audios/Conversation-06.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;"> <%= radio_button_tag :recognition, "Conversation-07.wav", false, :onclick => "audioSelected(this)" %> Scenario 7 </p>
                        <audio controls>
                            <source src="/audios/Conversation-07.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;"> <%= radio_button_tag :recognition, "Conversation-08.wav", false, :onclick => "audioSelected(this)" %> Scenario 8 </p>
                        <audio controls>
                            <source src="/audios/Conversation-08.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;"> <%= radio_button_tag :recognition, "Conversation-09.wav", false, :onclick => "audioSelected(this)" %> Scenario 9 </p>
                        <audio controls>
                            <source src="/audios/Conversation-09.wav" type="audio/wav">
                        </audio>
                    </div>

                    <div class="row">
                        <p style=" margin: 15px 0px;"> <%= radio_button_tag :recognition, "Conversation-10.wav", false, :onclick => "audioSelected(this)" %> Scenario 10 </p>
                        <audio controls>
                            <source src="/audios/Conversation-10.wav" type="audio/wav">
                        </audio>
                    </div>
                </div>
                <div class="col-md-5">
                    <textarea id="w3mission" rows="20" cols="100">
                    </textarea>
                </div>
                
            </div>
                   
        </div>
    





        
</body>
</html>

<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        
    }, false);

    function audioSelected(e) {
        debugger
        var filename = e.value;
        var param ={"filename":filename, "url":e.parentElement.getAttribute("data-url")}


        $.ajax({
            type: "POST",
            url: "/recognition/audiorecognition",
            data: param,
            success: function(xht){
               console.log(xht)
               e.parentElement.setAttribute("data-url",xht.operationStatusUrl)
               $("#w3mission").html(JSON.stringify(xht))
            }
        });        

    }
</script>

<script>
function displayuploadfile(){
    document.getElementById('speech-identification2').style.display="block"
    document.getElementById('speech-recognition2').style.display="none"
}
</script>

<script>
function displayshowspeechrecognition(){
    document.getElementById('speech-recognition2').style.display="block"
    document.getElementById('speech-identification2').style.display="none"

}

function displayshowspeechtranscription(){}
</script>





